<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charakter Verhör</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="main-container">
        <div class="container">
            {% if character %}
            {% if character.is_dead %}
            <h1>Untersuchung von {{ character.name }} (Opfer)</h1>
            {% else %}
            <h1>Verhör von {{ character.name }}</h1>
            {% endif %}
            {% else %}
            <h1>Untersuchung von {{ location }}</h1>
            {% endif %}
            <div id="chatWindow" class="chat-window"></div>
            <form id="chatForm" class="chat-form">
                <input type="text" id="userInput" placeholder="Ihre Frage..." required>
                <button type="submit">Senden</button>
            </form>
        </div>
        <div class="character-list-container">
            <h2>Personen verhören</h2>
            <ul class="character-list">
                {% for character in characters %}
                {% if not character.is_dead %}
                <li class="character-item">

                    <img src="/frontend/images/{{ scenario.id }}-{{ character.id }}.png" alt="{{ character.name }}"
                        class="character-image">
                    <a href="{{ url_for('serve_interrogate', id=character.id) }}">
                        <button class="start-button">{{ character.name }}</button></a>

                </li>
                {% endif %}
                {% endfor %}
            </ul>

            <h2>Untersuchen</h2>
            <ul class="character-list">
                {% for character in characters %}
                {% if character.is_dead %}
                <li class="character-item">
                    <img src="/frontend/images/{{ scenario.id }}-{{ character.id }}.png" alt="{{ character.name }}"
                        class="character-image">
                    <a href="{{ url_for('serve_investigate_victim', id=character.id) }}">
                        <button class="start-button">{{ character.name }} (Opfer)</button></a>
                </li>
                {% endif %}
                {% endfor %}

                <li class="character-item">
                    <img src="/frontend/images/{{ scenario.id }}-crime-scene.png" alt="Tatort" class="character-image">
                    <a href="{{ url_for('serve_investigate_crime_scene') }}">
                        <button class="start-button">Tatort</button></a>
                </li>
            </ul>
            <h2>Polizei</h2>
            <ul>
                <li class="character-item">
                    <img src="/frontend/images/police.png" alt="Fall lösen" class="character-image">
                    <a href="{{ url_for('serve_resolution') }}">
                        <button class="start-button">Fall lösen</button></a>
                </li>
            </ul>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', async function () {
            const chatWindow = document.getElementById('chatWindow');

            try {
                const response = await fetch('/get_chat_history');
                if (!response.ok) {
                    throw new Error('Netzwerkantwort war nicht ok');
                }

                const data = await response.json();

                chatWindow.innerHTML = '';
                data.chat.forEach(message => {
                    const messageClass = message.sender === 'user' ? 'user-message' : 'character-message';
                    chatWindow.innerHTML += `<div class="chat-message ${messageClass}">${message.text}</div>`;
                });

                chatWindow.scrollTop = chatWindow.scrollHeight;
            } catch (error) {
                console.error('Es gab ein Problem mit der Fetch-Operation:', error);
                chatWindow.innerHTML += '<div class="chat-message error-message">Fehler beim Abrufen des Chatverlaufs. Bitte versuchen Sie es später erneut.</div>';
            }
        });

        document.getElementById('chatForm').addEventListener('submit', async function (event) {
            event.preventDefault();
            const userInput = document.getElementById('userInput').value;
            const chatWindow = document.getElementById('chatWindow');

            chatWindow.innerHTML += `<div class="chat-message user-message">${userInput}</div>`;
            document.getElementById('userInput').value = '';

            try {
                const response = await fetch('/chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ message: userInput })
                });

                if (!response.ok) {
                    throw new Error('Netzwerkantwort war nicht ok');
                }

                const data = await response.json();
                chatWindow.innerHTML += `<div class="chat-message character-message">${data.answer}</div>`;
            } catch (error) {
                console.error('Es gab ein Problem mit der Fetch-Operation:', error);
                chatWindow.innerHTML += '<div class="chat-message error-message">Fehler beim Abrufen der Antwort. Bitte versuchen Sie es später erneut.</div>';
            }

            chatWindow.scrollTop = chatWindow.scrollHeight;
        });
    </script>
</body>

</html>