<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charakter Verhör</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="container">
            {% if character %}
                {% if character.is_dead %}
                    <h1>Untersuchung von {{ character.name }} (Opfer)</h1>
                {% else %}
                    <h1>Verhör von {{ character.name }}</h1>
                {% endif %}
            {% else %}
                <h1>Untersuchung von {{ location }}</h1>
            {% endif %}
            <div id="chatWindow" class="chat-window"></div>
            <form id="chatForm" class="chat-form">
                <input type="text" id="userInput" placeholder="Ihre Frage..." required>
                <button type="submit">Senden</button>
            </form>
        </div>
        <div class="character-list-container">
            <h2>Personen verhören</h2>
            <ul class="character-list">
                {% for character in characters %}
                    <li class="character-item">
                        {% if not character.is_dead %}
                            <a href="{{ url_for('serve_interrogate', id=character.id) }}">{{ character.name }}{% if character.is_dead %} (Opfer) {% endif %}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <h2>Untersuchen</h2>
            <ul class="character-list">
                {% for character in characters %}
                {% if character.is_dead %}
                    <li class="character-item">
                        <a href="{{ url_for('serve_investigate_victim', id=character.id) }}">{{ character.name }}{% if character.is_dead %} (Opfer) {% endif %}</a>    
                    </li>
                    {% endif %}
                {% endfor %}

                    <li class="character-item">
                        <a href="{{ url_for('serve_investigate_crime_scene') }}">Tatort</a>
                    </li>
                    <li class="character-item">
                        <a href="{{ url_for('serve_investigate_location') }}">Umgebung</a>
                    </li>
            </ul>
            <button id="backButton" class="back-button">Zurück zur Übersicht</button>
        </div>
    </div>
    
    <script>
            document.addEventListener('DOMContentLoaded', async function () {
            const chatWindow = document.getElementById('chatWindow');

            try {
                const response = await fetch('/get_chat_history');
                if (!response.ok) {
                    throw new Error('Netzwerkantwort war nicht ok');
                }

                const data = await response.json();

                // Leere das Chat-Fenster und zeige den gesamten Chatverlauf an
                chatWindow.innerHTML = '';
                data.chat.forEach(message => {
                    const messageClass = message.sender === 'user' ? 'user-message' : 'character-message';
                    chatWindow.innerHTML += `<div class="chat-message ${messageClass}">${message.text}</div>`;
                });

                // Scrolle das Chat-Fenster nach unten
                chatWindow.scrollTop = chatWindow.scrollHeight;
            } catch (error) {
                console.error('Es gab ein Problem mit der Fetch-Operation:', error);
                chatWindow.innerHTML += '<div class="chat-message error-message">Fehler beim Abrufen des Chatverlaufs. Bitte versuchen Sie es später erneut.</div>';
            }
        });

        document.getElementById('chatForm').addEventListener('submit', async function (event) {
            event.preventDefault();
            const userInput = document.getElementById('userInput').value;
            const chatWindow = document.getElementById('chatWindow');

            // Zeige die Benutzerfrage im Chat-Fenster
            chatWindow.innerHTML += `<div class="chat-message user-message">${userInput}</div>`;
            document.getElementById('userInput').value = '';

            try {
                const response = await fetch('/chat', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ message: userInput })
                });

                if (!response.ok) {
                    throw new Error('Netzwerkantwort war nicht ok');
                }

                const data = await response.json();
                chatWindow.innerHTML += `<div class="chat-message character-message">${data.answer}</div>`;
            } catch (error) {
                console.error('Es gab ein Problem mit der Fetch-Operation:', error);
                chatWindow.innerHTML += '<div class="chat-message error-message">Fehler beim Abrufen der Antwort. Bitte versuchen Sie es später erneut.</div>';
            }

            // Scrolle das Chat-Fenster nach unten
            chatWindow.scrollTop = chatWindow.scrollHeight;
        });

        document.getElementById('backButton').addEventListener('click', function() {
        window.location.href = '/'; // URL zur Übersicht
    });
    </script>
</body>
</html>