<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ scenario.name }}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="main-container">
        <div class="container">
            <h1>{{ scenario.name }}</h1>
            <p>{{ scenario.intro }}</p>
            
            <h2>Verdächtige Personen verhören</h2>
            <ul class="character-list">
                {% for character in characters %}
                    <li class="character-item">
                        {% if not character.is_dead %}
                            <a href="{{ url_for('serve_interrogate', id=character.id) }}">{{ character.name }}{% if character.is_dead %} (Opfer) {% endif %}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <h2>Untersuchen</h2>
            <ul class="character-list">
                {% for character in characters %}
                {% if character.is_dead %}
                    <li class="character-item">
                        <a href="{{ url_for('serve_investigate_victim', id=character.id) }}">{{ character.name }}{% if character.is_dead %} (Opfer) {% endif %}</a>    
                    </li>
                    {% endif %}
                {% endfor %}

                    <li class="character-item">
                        <a href="{{ url_for('serve_investigate_crime_scene') }}">Tatort</a>
                    </li>
            </ul>
        </div>
    </div>
</body>
</html>