body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container {
    width: 70%;
    margin-right: 20px;
}

.character-list-container {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h1, h2, p {
    text-align: center;
    color: #333;
}

ul, .scenario-list, .character-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.scenario-item, .character-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.scenario-item img, .character-image {
    width: 250px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.scenario-item span, .character-item span {
    font-size: 16px;
    color: #333;
}

.character-item a {
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.character-item a:hover {
    text-decoration: underline;
}

button, .back-button, .start-button, .generate-button, .interrogate-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover, .back-button:hover, .start-button:hover, .generate-button:hover, .interrogate-button:hover {
    background-color: #0056b3;
}

.back-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.chat-window {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
    background-color: #fafafa;
    margin-bottom: 20px;
}

.chat-message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    max-width: 80%;
}

.user-message {
    background-color: #d1f7c4;
    align-self: flex-end;
    text-align: right;
}

.character-message {
    background-color: #f1f0f0;
    align-self: flex-start;
    text-align: left;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.chat-form {
    display: flex;
    justify-content: space-between;
}

.chat-form input[type="text"], .chat-form-resolution textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 10px;
    font-family: inherit;
    font-size: 16px;
}

.chat-form-resolution textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 200px;
    width: calc(100% - 140px);
}